api:
  dashboard: {{ traefik_dashboard_enabled | lower }}

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    network: {{ deploy_compose_project }}_public
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: {{ traefik_log_level }}
